services:
  app:
    build:
      context: .
      target: dev
    ports:
      - "3000:3000" # Client Server (Next.js)
      - "3001:3001" # LLM Engine
      - "3002:3002" # AP Engine
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    depends_on:
      - postgres
      - redis
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - REDIS_HOST=redis

  postgres:
    image: postgres:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - redisdata:/data
      - ./docker/redis.conf:/usr/local/etc/redis/redis.conf
    ports:
      - "6379:6379"

volumes:
  node_modules:
  pgdata:
  redisdata:
